*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;  
    min-height: 100vh;
    width: 100%; 
}

.screen{
    align-items: center;
    background-color: rgb(219, 237, 253);
    border: 3px solid #fff;
    display: flex;
    height: 50vh;
    justify-content: center;
    position: relative;
    width: 50%;  
}

.screen p{
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
}

.screen p span{
    opacity: .4;
}

.btn--options{
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    bottom: 5%;
    display: flex;
    height: 15%;
    justify-content: space-around;
    left: 5%;
    position: absolute;
    width: 50%; 
}

@media (max-width : 1250px) {
    .screen{
        width: 100%;
    }
    .btn--options{
        width: 40%;
    }
}


@media (max-width : 425px) {
    body{
        font-size: 14px
    }
    .btn--options{
        width: 70%;
    }
}

@media (max-width : 320px) {
    .btn--options{
        width: 80%;
    }
}